streamlit
openai
langchain-chroma
langchain-huggingface
langchain-core
langchain-text-splitters
rank_bm25
nltk
pdfplumber
requests
httpx
tqdm
python-telegram-bot
sentence-transformers
torch
transformers
accelerate